Prevent resource exhaustion decoding malformed SenML CBOR representation

farshidtz/senml is using a CBOR library that can exhaust memory with 1 decode attempt of 9 bytes of malformed SenML CBOR representation.  

Projects like oasislabs/oasis-core switched to a more secure CBOR library after an external security audit last year.

![alt text](https://github.com/fxamacker/images/raw/master/cbor/v2.2.0/cbor_security_638px.svg?sanitize=1 "CBOR API and Go Struct Tags")

For info about CBOR and security, see [Section 8 of RFC 7049 (Security Considerations)](https://tools.ietf.org/html/rfc7049#section-8).

For more comparisons, see [fxamacker/cbor](https://github.com/fxamacker/cbor/blob/master/README.md).  


Thanks a lot for the info. We'll make the switch.